/* You can add global styles to this file, and also import other style files */
.login-page {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(54,49,150);
    background: linear-gradient(0deg, #262626, #aaf1ff);
}

.login-card {
    position: absolute;
    width: 60%;
    min-width: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%);
    color: #fff;
    padding: 40px 25px;
    border: 1px solid #fff;
    border-radius: 6px;

    &__heading {
        text-align: center;
    }
}

.search-box {

    &__input {
        width: 50%;
        margin: 10px 0 20px 0;
        display: inline-block;
    }

    &__btn {
        float: right;
        margin: 10px 10px 20px 0;
    }

}

.user-list {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.header {
    padding: 20px 30px;
    margin: 0px 0 30px 0;
    box-shadow: 0 0 5px #ccc;
}
.footer {
    padding: 20px 30px;
    margin: 30px 0 0px 0;
    box-shadow: 0 0 5px #ccc;
}

.glyphicon.glyphicon-eye-open,
.glyphicon.glyphicon-eye-close {
    position: relative;
    top: -23px;
    left: -7px;
    float: right;
    cursor: pointer;
    color: #363196;
}
.home-page {
    min-height: calc(100vh - 200px);
}